*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}





.navdar{
   width: 100%; 
   height: 60px;
   background: rgb(249,249,249);
   overflow: hidden;
}
.nan__colection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 30px;
}
.item{
    margin: 10px 0;
}
.des{
    width: 200px;
    height: 30px;
    margin: 7px 50px;
    border-radius: 30px;
    border: 1px solid #ccc;
}
.des li{
    margin: auto;
     padding: 5px 10px;


}
.bos{
    width: 100%;
    height: 80px;
    background: whitesmoke;
    display: flex;
    align-items: center;
    overflow: hidden;

}
.bos img{
    display: block;
    width: 100px;
    height: 40px;
    margin: auto;
}
.vew{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    gap: 20px;
    list-style: none;
}
.nat__menu{
    display: none;
}
.nat__menu span{
    display: block;
    width: 30px;
    height: 3px;
    background: #ccc;
    margin-top: 3px;
    border-radius: 10px;
}
.bov{
    width: 100%;
    height: 200px;
}




.bov>img {
    width: 100%;
    height: auto;
}



.byd{
    padding: 30px 10%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

}
.ser{
    width: 350px;
    border: 1px solid #cccc;

}

.ser img{
   width: 100%;
}
.ser p{
  padding: 20px 10px;
}



.ee{
    text-align: center;
    margin-top: 420px;
}
.ew{
    width: 140px;
    height: 40px;
    border: none;
    background: rgb(51,122,183);
    color: white;
    border-radius: 6px;
    margin: 20px 700px;
}
.fer video{
    width: 100%;
    height: auto;
}
.drt{
    text-align: center;
    padding: 50px;
}
.vgt{
    padding: 30px 10%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.gif{
    width: 350px;
    padding: 12px;

}
.gif img{
    width: 100%;
    border-radius: 20px;
}
.dm{
    width: 300px;
    height: 30px;
    background: white;
    border: 1px solid #222;
    border-radius: 20px;
    margin: 20px 650px;
}
.banner{
    display: flex;
    padding: 30px 10%;
    gap: 40px;
}
.banner__text,
.banner__image{
    width: 100%;
}
.banner__image img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.wer{
    width: 90%;
    background: #ccc;
    margin: auto;
    margin-top: 50px;
}
.ire{
    width: 100%;
    height: 400px;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.fr{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    color: #fff;

}
.ire h2{
    text-align: center;
    margin-bottom: 100px;
    
}
.fr ul{
    list-style: none;
}